<div class="lift-set">

  <div class="flex flex-column">
    <%= form.text_field :weight, value: form.object.weight, class: "xs-input flex-1 reps-#{form.object.style.gsub(' ', '-')}" %>
    <%= form.text_field :reps, value: form.object.reps, class: "xs-input flex-1 reps-#{form.object.style.gsub(' ', '-')}" %>
    <%= form.hidden_field :style, value: form.object.style %>
    <%= form.hidden_field :id, value: form.object.id %>
  </div>
</div>