<div class="flex flex-column">
  <div class="display-inline-block border-highlight p-4 box-30 reps-<%= lift_set.style.gsub(' ', '-') %>">
    <%= lift_set.weight %>
  </div>
  <div class="display-inline-block border-highlight p-4 box-30 reps-<%= lift_set.style.gsub(' ', '-') %>">
    <%= lift_set.reps %>
  </div>
</div>