<div>
  <%= form_for Lift.new do |form|  %>
    <div class="flex">
      <%= form.text_field :name, required: true, class: 'me-4 flex-2' %>
      <%= form.submit 'Add' %>
    </div>
  <% end %>
</div>