<div>
  <%= form_for @lift do |form|  %>
    <div class="flex">
      <%= form.text_field :name, required: true, class: 'me-4 flex-2' %>
      <%= form.submit @lift.id ? 'Save' : 'Add' %>
    </div>
  <% end %>
</div>