#flash-messages {
  margin: 0 -6px;
  padding: 6px 12px;
}

.flash {
  background: $pink;
  color: $white;
}

.flash.success {
  background: $green;
  color: $black;
}

.flash.error {
  background: $red;
  color: $black;
}

.flash.notice {
  background: $pink;
  color: $black;
}