//////////////////////////////////////////
// margin
//////////////////////////////////////////
.me-4 {
  margin-right: 4px;
}

.me-8 {
  margin-right: 8px;
}

.mb-4 {
  margin-bottom: 4px;
}

.mb-8 {
  margin-bottom: 8px;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-32 {
  margin-bottom: 32px;
}

.my-4 {
  margin-left: 4px;
  margin-right: 4px;
}

.mx-8 {
  margin-top: 8px;
  margin-bottom: 8px;
}

.margin-auto {
  margin: auto;
}

.margin-auto-x {
  margin: 0 auto;
}

.margin-auto-y {
  margin: auto 0;
}

//////////////////////////////////////////
// padding
//////////////////////////////////////////

.p-4 {
  padding: 4px;
}

.pt-16 {
  padding-top: 16px;
}

.pb-16 {
  padding-bottom: 16px;
}

.pb-32 {
  padding-bottom: 32px;
}

.py-4 {
  padding-left: 4px;
  padding-right: 4px;
}